body {
    background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.common {
    position: absolute;
}

.header {
    background-color: rgb(0, 162, 255);
    top: 5px;
    left: 5px;
    right: 5px;
    height: 80px;
    font-size: xx-large;
    border: 2px solid black
}

.leftmenu {
    top: 150px;
    left: 5px;
    width: 720px;
    height: 490px;
    border: 2px solid black;   
    background-color: rgb(0, 162, 255);

}

.mainbody {
    top: 550px;
    left: 5px;
    right: 200px;
    width: 400px;
}


.rightmenu{
    top: 150px;
    right: 5px;
    width: 552px;
    height: 704px;
    border: 2px solid black; 
    background-color: rgb(0, 162, 255);
}

.secondbody{
    top: 630px;
    right: 5px;
    left: 5px;
}

.runner{
    top: 200px;
    left: 5px;
    width: 600px;
    border: 2px solid black;    
    font-size: large;
}

.footer{
    background-color: rgb(0, 162, 255);
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    z-index: 1;
    position: fixed;
    bottom: 5px;
    right: 5px;
    left: 5px;
    display: block;
    text-align: center;
    border: 2px solid black
}

img {
    border: 2px solid black;
    display: block;
    width: 90%;
    margin: auto;
}

.centerme {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}


.header {
    top: 0px;
    text-align: center;
}